#### Webscraping Notes: ####
* [Webscraping Guide](https://www.youtube.com/watch?v=JGQGd-oa0l4&t=2s&ab_channel=Dataquest)
* [Football Reference](https://www.pro-football-reference.com/) - Main Website 
* [Rushing](https://www.pro-football-reference.com/years/2021/rushing.htm) - Wanted Data
* Don't make too many requests, save data when you can

In [1]:
!pip install requests

Requirement already satisfied: requests in c:\users\gvent\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\gvent\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gvent\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gvent\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\gvent\anaconda3\lib\site-packages (from requests) (2.0.4)

Installs the requests library - "!" infront of code runs it in the command line

In [6]:
years = list(range(2015, 2022)) #In my opinion, average lifespan of a tailback is about 6 years

In [7]:
url_start = "https://www.pro-football-reference.com/years/{}/rushing.htm"

In [9]:
import requests

for year in years:
    url = url_start.format(year)
    data = requests.get(url)

    with open("RB/{}.html".format(year), "w+", encoding="utf8") as f:
        f.write(data.text)

- Created a folder called RB
- For loop goes through the list of years in range
- I was getting an error "UnicodeEncodeError: 'charmap' codec can't encode character '\ufffd' in position 417578: character maps to <undefined>" - Fixed by encoding the output in utf8

In [11]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\gvent\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\gvent\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)

- Installed beautifu soup for data parsing

In [12]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\gvent\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\gvent\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\gvent\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\gvent\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\gvent\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [16]:
from bs4 import BeautifulSoup
import pandas as pd

with open("RB/2015.html") as f:
    page = f.read()

soup = BeautifulSoup(page, "html.parser")
soup.find('tr', class_='over_header').decompose()
rb_table = soup.find(id="rushing")
rb_2015 = pd.read_html(str(rb_table))[0]
rb_2015

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
0,1,Adrian Peterson*+,MIN,30,RB,16,16,327,1485,11,72,80,4.5,92.8,7
1,2,Doug Martin*+,TAM,26,RB,16,16,288,1402,6,68,84,4.9,87.6,5
2,3,Latavius Murray*,OAK,25,RB,16,16,266,1066,6,49,54,4.0,66.6,4
3,4,Devonta Freeman*,ATL,23,RB,15,13,265,1056,11,71,39,4.0,70.4,3
4,5,Frank Gore,IND,32,RB,16,16,260,967,6,48,37,3.7,60.4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,308,Kasen Williams,SEA,23,NaN,2,0,1,5,0,0,5,5.0,2.5,0
318,309,Glenn Winston,CLE,26,NaN,3,0,1,-8,0,0,-8,-8.0,-2.7,1
319,310,Robert Woods,BUF,23,WR,14,9,1,0,0,0,0,0.0,0.0,2
320,311,Charles Woodson*,OAK,39,SS,16,16,1,-3,0,0,-3,-3.0,-0.2,1
321,312,Jarius Wright,MIN,26,NaN,16,3,1,29,0,1,29,29.0,1.8,1

In [40]:
dfs = []
for year in years:
    with open("RB/{}.html".format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_='over_header').decompose()
    soup.find('tr', class_='thead').decompose()
    rb_table = soup.find(id="rushing")
    rb = pd.read_html(str(rb_table))[0]
    rb["Year"] = year
    
    dfs.append(rb)

In [41]:
rbs = pd.concat(dfs)

In [42]:
rbs.to_csv("rbs.csv")

#### Data Cleaning: ####
- [Data Cleaning Guide](https://www.youtube.com/watch?v=LobWMsz35NM&ab_channel=Dataquest)